$primary: #7F56D9;
$primaryBg: #F4EBFF;
$discount: #669F2A;

$actionRpgBg: #F0F9FF;
$actionRpgText: #0086C9;

$multiplayerRpgBg: #FFF1F3;
$multiplayerRpgText: #E31B53;

$actionBg:#FFFAEB;
$actionText: #DC6803;

$shooterBg: #F9F5FF;
$shooterText: #7F56D9;

$cardGameBg: #ECFDF3;
$cardGameText: #039855;

$textColorBlack: #101828;
$textColorGray: #667085;
$textColorLightGray: #98A2B3;
$textColorWhite: #F2F4F7;