@import './colors';

@mixin text-size($font-size, $line-height){
    font-size: $font-size;
    line-height: $line-height;
}

.text_size_regular{
    @include text-size(16px, 24px);
}

.text_size_small{
    @include text-size(14px, 20px);
}

.text_size_medium{
    @include text-size(18px, 24px);
}

.text_weight_regular{
    font-weight: 400;
}

.text_weight_medium{
    font-weight: 500;
}

.text_weight_semibold{
    font-weight: 600;
}

.text_color_black{
    color: $textColorBlack;
}

.text_color_gray{
    color: $textColorGray;
}

.text_color_light-gray{
    color: $textColorLightGray;
}

.text_color_white{
    color: $textColorWhite;
}

.caption_size_xl{
    @include text-size(52px, 56px);
    font-weight: 600;
}

.caption_size_l{
    @include text-size(40px, 44px);
    font-weight: 600;   
}

.caption_size_medium{
    @include text-size(32px, 48px);
}


@media (max-width: 990px) {

    .caption_size_l{
        @include text-size(32px, 38px);
    }

    // .text_size_regular{
    //     @include text-size(16px, 20px);
    // }
}

@media (max-width: 767px){
    .caption_size_xl{
        @include text-size(28px, 32px);
    }

    .caption_size_l{
        @include text-size(24px, 28px);
    }

    .text_size_regular{
        @include text-size(16px, 20px);
    }

    .caption_size_medium{
        @include text-size(24px, 28px);
    }
}