@import '../../assets/css/colors';

.header{
    box-shadow: 0px 12px 12px -4px rgba(16, 24, 40, 0.02);
    background: #FFFFFF;
}

.header__top-nav{
    padding: 25px 0;
    border-bottom: 1px solid #EAECF0;
}

.header__top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 154px;
}

.location-link{
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.main-nav{
    display: flex;
    align-items: center;
    grid-gap: 42px;
}

.main-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bottom-menu{
    padding: 20px 0;
}

.header__main-link{
    transition: .3s;
}

.header__main-link:hover{
    color: $primary;
}

@media (max-width: 990px) {
    .header__logo{
        position: static;
    }
}

@media (max-width: 767px){
    .header__top-nav{
        padding: 17px 0;
    }
}

